body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F9FAF8;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 10px 200px;
    align-items: center;
}

.headerlinks {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 10px;
    margin-left: auto;
}

.headerlinks a {
    text-decoration: none;
    color: #E5E7EB;
}

.blogheader {
    text-align: center;
    padding: 50px;
    background-color: #E5E7EB;
    color: #1F2937;
}

.featuredcontent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.featuredpost {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
}

.featuredpost img {
    width: 100%;
    height: 250px; 
    object-fit: cover; 
    border-radius: 10px;
}

.read {
    display: inline-block;
    padding: 10px 15px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.read:hover {
    transform: scale(1.1); 
    background-color: #3882F6; 
}

.blogcontent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    text-align: center;
}

.blogpost {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

.blogtitle {
    font-size: 24px;
    color: #1F2937;
    font-weight: bold;
}

.blogauthor {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px;
    font-size: 12px;
}

h3 {
    font-size: 32px;
    text-align: center;
    text-decoration: underline;
}

section li strong {
    font-weight: bold;
    color: #030303;
}

section h1{
    font-size: 32px;
    text-align: center;
}

section h2 {
    text-align: center;
}

section {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;  
}

section ul, section ol {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.container {
    width: 80%; 
    margin: 0 auto; 
    max-width: 1200px;
    padding-left: 80px;   
}

.container section {
    text-align: left;
}

.container img {
    display: block;
    max-width: auto;
    /*max-height: 600px;*/
    height: auto;
}

.like {
    margin-left: 20px; 
}

/* Tablet Responsive */ 
@media (max-width: 768px) {
    .container {
        width: 95%;  
        padding-left: 15px;
        padding-right: 15px;
    }

    h1 {
        font-size: 26px;
        text-align: center;
    }

    h2 {
        font-size: 22px;
        text-align: center;  
    }

    ul, ol {
        padding-left: 15px;  /
    }

    .burgerimage {
        width: 100%;  
    }
}

/* Mobile Responsive */ 
@media (max-width: 600px) {
    header {
        padding: 10px 15px;
        display: flex;
        justify-content: center; 
        align-items: center;
      }

    .container {
        width: 100%;
        padding: 10px;
    }

    h1 {
        font-size: 26px;
        text-align: center;
    }

    h2 {
        font-size: 20px;
        text-align: center;
    }

    ul, ol {
        padding-left: 5px;
    }

    .burgerimage {
        width: 100%;
        height: auto;
    }

    .blogheader {
        padding: 30px 5%;
    }

    .featuredpost, .blogpost {
        width: 100%;
    }
}
