/* Header Styling */
.header {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0px 200px;
}

.headerlinks a,
.headerlinks a:link,
.headerlinks a:visited,
.headerlinks a:active,
.headerlinks a:focus {
    text-decoration: none;
    color: #E5E7EB;
}

.headerlinks a:hover {
    text-decoration: solid;
}

.headerlogo {
    height: 50px;
    width: 100%;
}