body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 10px 200px;
}

.headerlinks {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 10px;
    align-items: center;
    margin-left: auto;
    color: #E5E7EB;
}

.content {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 50px 200px 100px;
}

.contentleft {
    display: flex;
    flex-direction: column;
    padding-right: 100px;
}

.contenttext {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 10px;
}

.contentbutton {
    color: #E5E7EB;
    background-color: #3882F6;
    width: 200px;
    height: 50px;
    font-weight: bolder;
    border-radius: 10px;
}

.contentright {
    display: flex;
    align-items: center;
}

.contentimg {
    height: 200px;
    width: 450px;
}

.carousel {
    display: flex;
    justify-content: center;
    padding: 0px 200px;
}

.carouselbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.carouselimg {
    height: 200px;
    width: 200px;
    border: 1px solid blue;
    border-radius: 10px;
}

.quotes {
    background-color: #E5E7EB;
    padding: 100px 200px;
}

.quotetext {
    font-size: 36px;
    color: #1F2937;
    font-weight: 100;
    font-style: italic;
}

.authortext {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}

.calltoactionbox {
    display: flex;
    justify-content: center;
    background-color: #3882F6;
    border-radius: 10px;
    margin: 50px 200px;
    padding: 25px 50px;
    gap: 100px;
}

.calltext {
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
}

.callsubtext {
    margin: 0px;
    color: #F9FAF8;
}

.calltoactionright {
    display: flex;
    justify-content: center;
    align-items: center;
}

.callbutton {
    font-size: 16px;
    background-color: #3882F6;
    border-radius: 10px;
    color:#F9FAF8;
    border: 2px solid #F9FAF8;
    padding: 10px 20px;
    height: 50px;
}

.footer {
    display: flex;
    justify-content: center;
    color:#F9FAF8;
    background-color: #1F2937;
    padding: 20px;
    font-size: 12px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 48px;
    margin: 0px;
}

h3 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}