/* Header Styling */
.header {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 10px 200px;
}

.headerlinks {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 10px;
    align-items: center;
    margin-left: auto;
    color: #E5E7EB;
}